{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Participate!</h5>
    <div class="card-body">
        <p class="card-text"> All programming, right here!</p>
        <a href="https://clist.by/" target="_blank"
           class="btn btn-danger">When is the next contest?</a>
    </div>
</div>
</div>

{% endblock sidebar %}