{% block sidebar %}

<style>
	.card{
		box-shadow: 0 16px 48px #E3E7EB;
		width: 160%;
	}
	.contest-list ul{
		height: 250px;
		width: 100%;
		overflow:hidden; 
		overflow-y:scroll;
	}
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
	<div class="card my-4">
		<h5 class="card-header">Participate!</h5>
		<div class="card-body">
			<p class="card-text"> All programming, right here!</p>
			<nav class="contest-list">
				<ul>
					{% for contest in contestList %}
					<a href="{{contest.href}}"><li> {{contest.event}} </li></a> 
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
</div>

{% endblock sidebar %}